//color scheme
$color-primary: #609732;
$color-white: #FEFFFD;
$color-secondary: #B9E396;
$color-strong: #234C00;
$color-black: #000000;
$color-grey: #AAAAAA;
$rgba-primary: rgba(96, 151, 50, 1);
$rgba-white: rgba(253, 255, 252, 1);
$rgba-secondary: rgba(185, 227, 150, 1);
$rgba-strong: rgba(35, 76, 0, 1);
$rgba-black: rgba(0, 0, 0, 1);

//font
$font-title: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$font-em: "Trebuchet MS", Helvetica, sans-serif;
$font-normal: Arial, Helvetica, sans-serif;